<h2 style="font-weight:bold; color:#3e4444; margin-left:40%; margin-top: 3%;">Past week shifts</h2>
<div class="shiftsTable">
    <p style="font-weight:bold; color:red; margin-left:4%;">{{message}}</p>
    <table *ngIf="!message">
        <thead>
            <tr>
                <th style="font-weight: bold; color:#3e4444;">Date</th>
                <th style="font-weight: bold; color:#3e4444;">Start time</th>
                <th style="font-weight: bold; color:#3e4444;">End time</th>
                <th style="font-weight: bold; color:#3e4444;">Shift place</th>
            </tr>
        </thead>
        <tr *ngFor="let shift of shifts">
            <td style="font-weight: bold; color:#3e4444; text-align: center;">{{shift.date}}</td>
            <td style="font-weight: bold; color:#3e4444; text-align: center;">{{shift.startTime}}</td>
            <td style="font-weight: bold; color:#3e4444; text-align: center;">{{shift.endTime}}</td>
            <td style="font-weight: bold; color:#3e4444; text-align: center;">{{shift.workPlace}}</td>
        </tr>
    </table>


</div>