<h2 style="font-weight:bold; color:#3e4444; margin-left:40%; margin-top: 3%;">Past week shifts</h2>
<div class="shiftsTable">
    <p style="font-weight:bold; color:red; margin-left:4%;">{{message}}</p>
    <table *ngIf="!message">
        <thead>
            <tr>
                <th id="pws">Date</th>
                <th id="pws">Start time</th>
                <th id="pws">End time</th>
                <th id="pws">Shift place</th>
            </tr>
        </thead>
        <tr *ngFor="let shift of shifts">
            <td id="tdpws">{{shift.date}}</td>
            <td id="tdpws">{{shift.startTime}}</td>
            <td id="tdpws">{{shift.endTime}}</td>
            <td id="tdpws">{{shift.workPlace}}</td>
        </tr>
    </table>


</div>