<h2 style="font-weight:bold; color:#3e4444; margin-left:40%;">Edit shift</h2>
<div class="editShift">
    <form [formGroup]="editShiftForm">
        <div>
            <label style="font-weight:bold; margin-right:62px; color:#3e4444;">Date</label>
            <input style="margin:10px; width:153px;" type="date" formControlName="date" placeholder="Select a date" />
            <span *ngIf="date.invalid&&date.touched">*Date must be specified</span>
        </div>

        <div>
            <label style="font-weight:bold; margin-right:25px; color:#3e4444;">Start time</label>
            <input style="margin:10px; width:150px;" type="number" formControlName="startTime" placeholder="Select start time" min="0" max="23" />
            <span *ngIf="startTime.invalid&&startTime.touched">*Start time must be specified between 0 and 23</span>
        </div>

        <div>
            <label style="font-weight:bold; margin-right:30px; color:#3e4444;">End time</label>
            <input style="margin:10px; width:150px;" type="number" formControlName="endTime" placeholder="Select end time" min="0" max="23" />
            <span *ngIf="endTime.invalid&&endTime.touched">*End time must be specified between 0 and 23</span>
        </div>

        <div>
            <label style="font-weight:bold; margin-right:5px; color:#3e4444;">Hourly wage</label>
            <input style="margin:10px; width:150px;" type="number" formControlName="hourlyWage" placeholder="Add your hourly wage" min="0" />
            <span *ngIf="hourlyWage.invalid&&hourlyWage.touched">*Hourly wage must be specified</span>
        </div>

        <div>
            <label style="font-weight:bold; margin-right:20px; color:#3e4444;">Shift place</label>
            <select style="margin:10px; width:157px;" formControlName="workPlace" placeholder="Select your work place">
            <option>Bucuresti</option>
            <option>Ploiesti</option>
            <option>Targoviste</option>
        </select>
            <span *ngIf="workPlace.invalid&&workPlace.touched">*Work place must be specified</span>
        </div>

        <div>
            <label style="font-weight:bold; margin-right:18px; color:#3e4444;">Shift name</label>
            <input style="margin:10px; width:150px;" type="text" formControlName="shiftName" placeholder="Add a shift name" />
            <span *ngIf="shiftName.invalid&&shiftName.touched">*Shift name must be specified</span>
        </div>

        <div>
            <label style="font-weight:bold; margin-right:27px; color:#3e4444;">Comments</label>
            <textarea style="margin-right:15px; width:155px; " formControlName="comments" placeholder="12 hours shift"></textarea>
        </div>
        <br>
        <button style="margin-left:30%; font-weight:bold; color:#3e4444;" (click)="updateShift()" [disabled]="editShiftForm.invalid">Save shift</button>

        <div>{{message}}</div>

    </form>
</div>