<h2 style="font-weight:bold; color:#3e4444; margin-left:42%;">My shifts</h2>
<div class="searchShifts">
    <label style="font-weight:bold; color:#3e4444;">Start date</label>
    <input style="margin:10px; margin-left:2%; width:155px;" type="date" [(ngModel)]="startDate">
    <br>
    <label style="font-weight:bold; color:#3e4444;">End date</label>
    <input style="margin:10px; margin-left:2.5%; width:155px;" type="date" [(ngModel)]="endDate">
    <br>
    <label style="font-weight:bold; color:#3e4444;">Shift place</label>
    <select style="margin:15px; width:162px;" [(ngModel)]="shiftPlace">
        <option></option>
        <option>Bucuresti</option>
        <option>Ploiesti</option>
        <option>Targoviste</option>
    </select>
    <br>
    <button style="font-weight:bold; color:#3e4444; margin-left:7%;" (click)="search()">Search</button>

    <p style="font-weight:bold; color:red; margin-left:5%;">{{message}}</p>

</div>
<div class="shiftsTable">
    <table *ngIf="!message">
        <thead>
            <tr>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Hourly wage</th>
                <th>Shift place</th>
                <th>Shift name</th>
                <th>Earnings</th>
                <th>Edit your shift</th>
            </tr>
        </thead>
        <tr *ngFor="let shift of shifts">
            <td id="td">{{shift.date}}</td>
            <td id="td">{{shift.startTime}}</td>
            <td id="td">{{shift.endTime}}</td>
            <td id="td">{{shift.hourlyWage}}</td>
            <td id="td">{{shift.workPlace}}</td>
            <td id="td">{{shift.shiftName}}</td>
            <td id="td">{{shift.hourlyWage * (shift.endTime - shift.startTime)}}</td>
            <td>
                <!-- <a routerLink="/editShift/{{encode(shift.shiftName)}}">Edit shift</a> -->
                <a style="font-weight: bold; color:#3e4444; margin-left: 35%; text-align: center;" [routerLink]="['/editShift', shift.shiftName]">Edit</a>
            </td>
        </tr>
    </table>


</div>