<h2 style="font-weight:bold; color:#3e4444; margin-left:40%; margin-top: 3%;"> Up-coming shifts</h2>
<div class="shiftsTable">
    <p style="font-weight:bold; color:red; margin-left: 4%;">{{message}}</p>
    <table *ngIf="!message">
        <thead>
            <tr>
                <th id="usth">Date</th>
                <th id="usth">Start time</th>
                <th id="usth">End time</th>
                <th id="usth">Shift place</th>
            </tr>
        </thead>
        <tr *ngFor="let shift of shifts">
            <td id="ustd">{{shift.date}}</td>
            <td id="ustd">{{shift.startTime}}</td>
            <td id="ustd">{{shift.endTime}}</td>
            <td id="ustd">{{shift.workPlace}}</td>
        </tr>
    </table>


</div>